@font-face {
    font-family: "Ddt-Regular";   /*Can be any text*/
    src: local("AirbnbCerealLight"),
        url("./DDTRg-Regular/DDTRg-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Ddt-Bold";   /*Can be any text*/
    src: local("AirbnbCerealLight"),
        url("./DDTRg-Bold/DDTRg-Bold.ttf") format("truetype");
}